.DS_Store
*.bak
*.egg-info/
*.log
*.pyc
*.pyo

.pytest_cache/
.venv/
.venv-windows/
__pycache__/
.coverage
.coverage.*
htmlcov/
Thumbs.db
.idea/
.vscode/

apps/api/.pytest_cache/
apps/api/.venv/
apps/api/sentry_bridge_api.egg-info/

apps/cameo-plugin/target/

apps/web/dist/
apps/web/node_modules/

build/
runtime_logs/

*.7z
*.zip
*.tar
*.tar.gz
